//doctype html
//html
//    head
//        title my jade template
//        link(rel='stylesheet', href='/css/style.css')
//    body
extends ./layout.jade
mixin article(el)
        .snippet
            .header
                span.author Created by
                    a.author-link(href='/allByCreator/' + el.creator) #{el.creator}
                span.filename Filename: #{el.fileName}
            .content
                textarea= el.code

block content
    #wrapper
        .snippet
            .header
                h1 Code Snippet Engine
        - if(typeof(creators) != "undefined")
            each el in creators
                +article(el)